In [1]:
def student_records(**kwargs):
  import pandas as pd
  try:
    data = pd.DataFrame(kwargs)
    return data
  except:
    data = pd.DataFrame(kwargs,index = [1])
    return data

In [5]:
student_records(Name = ['aman','karan','anuj'],
                Age = [12,24,36],
                Address = ['Noida','delhi','punjab'],
               Sec = list('ABC'))

    Name  Age Address Sec
0   aman   12   Noida   A
1  karan   24   delhi   B
2   anuj   36  punjab   C

In [23]:
def show_time():
    try:
        while True:
            import time
            print(time.asctime())
            time.sleep(1)
            display(clear = True)\

            
    except:
        print('timer has been stopped!!')

In [11]:
show_time()

Fri Jul  4 10:40:00 2025
timer has been stopped!!

In [1]:
import sumeet as sum

This is sumeet module
Info: https://www.google.com/

In [2]:
print('done')

done

In [5]:
sum.print_star(n=10, typ='right', shape='#')

                  #
                # #
              # # #
            # # # #
          # # # # #
        # # # # # #
      # # # # # # #
    # # # # # # # #
  # # # # # # # # #
# # # # # # # # # #

In [6]:
sum.check_prime(7)

'prime number'

In [16]:
sum.give_fibo(12)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [17]:
sum.sum_of_n_natural_numbers(45)

1035

In [21]:
#!pip install gTTS
from gtts import gTTS

In [25]:
sum.sound_box(10)

NameError: name 'gTTS' is not defined

In [1]:
import sumeet as sum

This is sumeet module
Info: https://www.google.com/

In [2]:
sum.sound_box(10)

ModuleNotFoundError: No module named 'pygame'

In [3]:
import pygame as p

ModuleNotFoundError: No module named 'pygame'

In [5]:
#!pip install pygame
import pygame as p

pygame 2.6.1 (SDL 2.28.4, Python 3.13.5)
Hello from the pygame community. https://www.pygame.org/contribute.html

In [10]:
sum.sound_box(100000000000000000000000000)

In [12]:
sum.students_records(name = 'aman', age = 19, city = 'delhi')

   name  age   city
1  aman   19  delhi

In [13]:
sound_box(12)

NameError: name 'sound_box' is not defined

In [14]:
sum.sound_box(18)

In [15]:
from sumeet import *

In [16]:
print('done')

done

In [17]:
sound_box(10)

In [18]:
give_fibo(12)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [23]:
import turtle
print('done')

done

In [2]:
import turtle
for i in range(120):
    turtle.speed(0)
    turtle.bgcolor('cyan')
    col = ('blue', 'pink', 'white', 'brown','yellow')
    import random
    picked_color = random.choice(col)
    turtle.color(picked_color)
    turtle.circle(100)
    turtle.left(180)

In [1]:
import turtle
for i in range(3):
    turtle.bgcolor('black')
    turtle.color('cyan')
    turtle.forward(100)
    turtle.left(60)

In [1]:
#context manager

In [5]:
file = open('sumeet.py',mode= 'r')
print(file.read(100))
file.close()

print('''This is sumeet module
Info: https://www.google.com/''')


def check_palindrome(word:str):

In [8]:
f = open('sumeet.py',mode= 'r')

In [18]:
print(f.readline())

    else:

In [20]:
f.close()

In [25]:
f = open('sumeet.py',mode= 'r')
for i in range(10):
    print(f.readline())

print('''This is sumeet module

Info: https://www.google.com/''')





def check_palindrome(word:str):

  if type(word) == str:

    word = word.upper()

    if word == word[::-1]:

      return 'Palindrome'

    else:

In [26]:
f = open('sumeet.py',mode= 'r')
for i in range(10):
    if i == 4:
        print(f.readline())
    else:
        f.readline()

def check_palindrome(word:str):

In [27]:
f = open('sumeet.py',mode= 'r')
data = f.readlines()

f.close()
print('done')

done

In [28]:
print(data[5:40])

['  if type(word) == str:\n', '    word = word.upper()\n', '    if word == word[::-1]:\n', "      return 'Palindrome'\n", '    else:\n', "      return 'Not a Plaindrome'\n", '  else:\n', "    return 'Invalid Data Type'\n", '\n', '\n', 'def give_fibo(n):\n', '    fibo = [0,1]\n', '    for i in range(n-2):\n', '        last_num = fibo[-1]\n', '        second_last_num = fibo[-2]\n', '        next_num = last_num + second_last_num\n', '        fibo.append(next_num)\n', '    return fibo\n', '\n', '\n', 'def check_prime(n):\n', '    for i in range(2,n):\n', '        if n % i == 0:\n', "            return 'Not a prime number.'\n", '            break\n', '    else:\n', "        return 'prime number'\n", '\n', '\n', "def print_star(n=10, typ='left', shape = '*'):\n", "    if typ == 'left':\n", "        space = ''\n", "    elif typ == 'right':\n", "        space = '  ' \n", "    elif typ == 'mid':\n"]

In [30]:
for i in data[:16]:
    print(i)

print('''This is sumeet module

Info: https://www.google.com/''')





def check_palindrome(word:str):

  if type(word) == str:

    word = word.upper()

    if word == word[::-1]:

      return 'Palindrome'

    else:

      return 'Not a Plaindrome'

  else:

    return 'Invalid Data Type'





def give_fibo(n):